html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto; /* center content */
  padding: 0px 15px;
}

.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333;
}

.logo {
  width: 26px;
  height: 70px;
}

a {
  text-decoration: none;
}

a:active, a:visited {
  color: #838994;
}

a:hover {
  color: #333;
}

.background-img {
  z-index: 1;
  position: relative;
}

.content {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.content > h1 {
  letter-spacing: 2px;
}

.content > h1, .content > h3 {
  top: -550px;
  z-index: 2;
  position: relative;
  font-weight: 100;
}

.button {
  background-color: #e67e22;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  top: -550px;
  z-index: 2;
  position: relative;
  border: 1px solid #e67e22;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: 150px;
  margin: 0 auto; /* center the button */
  cursor: pointer;
}

.button:hover {
  background-color: #d35400;
  border-radius: 10px;
  border: 1px solid #d35400;
}

.button > a:visited, .button > a:hover {
  color: #fff;
}

.main-body > h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.three-imgs > img {
  width: 33%;
  display: inline-block;
  height: 110px;
  font-size: 0;
}

.three-imgs-content > h3 {
  width: 33%;
  display: inline-block;
  height: 190px;
  font-weight: 100;
  text-align: center;
}
