body {
  font-family: 'Roboto', sans-serif;
}

div {
  /* remove after testing */
  border: 1px solid #000;
}

li {
  display: inline-block;
  padding: 5px;
  color: #838994;
}

.logo {
  width: 26px;
}

.co-name {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

a:active, a:visited {
  color: #838994;
}

a:hover {
  color: #333;
}
